body {
	background:#98b398;
	background: url("img/SoccerFieldBackground.png");
	background-repeat: no-repeat;
	background-size: 100%;
	overflow:auto;

}

 div.container > #ronaldo{
    width: 150px;
    height: 200px;
    position: absolute;
    left: 100px;
    bottom:0px;
    float: left;
}

div.container > #mbappe{
    width: 150x;
    height: 200px;
    position: absolute;
    left: 100px;
    top: 420px;
    float: left;
}

div.container > #startButton{
    width: 200px;
    height: 200px;
    position: fixed;
    left: 550px;
    top: 0px;
}

div.container > #greenLight{
    width: 200px;
    height: 200px;
    position: fixed;
    left: 550px;
    top: 0px;
    visibility: hidden;
}


div.container > #winRonaldo {
    width: 300px;
    height: 400px;
    right: 500px;
    top: 300px;
    position: fixed;
    visibility: hidden;
}

div.container > #winMbappe {
    width: 300px;
    height: 400px;
    right: 600px; 
    top: 300px;
    position: fixed;
    visibility: hidden;
}